<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

	<link rel="stylesheet" type="text/css" href="../css/chi-tiet.css">




</head>
<body>
	<header >
		
		<div class="container">
			
			
				<div class="navbar-header left">
					<div class="logo">
						<a href="#">
							<img src="../images/logo-nettruyen.png">
						</a>
					</div>
					<div class="input-group inputseach ">
						<div class="form-control">
							<input type="text" name=""  placeholder="Tim Truyen....">
						<i class="fas fa-search"></i>
						</div>
						
						
					</div>
					
				
				</div>
				<div class="logo-right">
						<i class="far fa-comment"></i>
					</div>
					
				<div class="navbar-header right">
					<ul class="nav justify-content-end">
						 <li class="breadcrumb-item"><a href="#">Dang Ki</a></li>
						 <li class="breadcrumb-item"><a href="#">Dang nhap</a></li>
    					
						  
					</ul>
				</div>
					
			<div class="logo-menu" style="font-size: 15px;">
				<nav class="navbar navbar-dark d-inline-block">
			    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
  			</nav>
  			
  </div>
			</div>
		</div>
		
		
	</header>
	<div class="main-nav" id="main-nav">
		<div class="container">
		<div class="inner">
			
				<div id="menu">
				<ul>
				<li><a href="#"><i class="fas fa-home"></i></a></li>
				<li><a href="#">Hot</a></li>
				<li><a href="#">Theo doi</a></li>
				<li><a href="#">Lich su</a></li>
				<li class="nav-item dropdown" >
				    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false" >The Loai</a>
				    <div class=" showmenu" aria-labelledby="navbarDropdownMenuLink">
				      <a class="dropdown-item" href="#" >Action</a>
				      <a class="dropdown-item" href="#">Another action</a>
				      <a class="dropdown-item" href="#">Something else here</a>
				      <a class="dropdown-item" href="#">Something else here</a>
				      <a class="dropdown-item" href="#">Something else here</a>
				      <a class="dropdown-item" href="#">Something else here</a>
				      <a class="dropdown-item" href="#">Something else here</a>
				      
				    </div>
				
				</li>
				<li class="nav-item dropdown" >
				    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false" >The Loai</a>
				    <div class=" showmenu" aria-labelledby="navbarDropdownMenuLink">
				      <a class="dropdown-item" href="#" >Action</a>
				      <a class="dropdown-item" href="#">Another action</a>
				      <a class="dropdown-item" href="#">Something else here</a>
				      <a class="dropdown-item" href="#">Something else here</a>
				      <a class="dropdown-item" href="#">Something else here</a>
				      <a class="dropdown-item" href="#">Something else here</a>
				      <a class="dropdown-item" href="#">Something else here</a>
				      
				    </div>
				
				</li>
				<li><a href="#">Tim Truyen </a></li>
				<li><a href="#">Yeu Thich  </a></li>
				
				</ul>
				</div>
				
			</div>
		</div>		
	</div>
	<main>
		<div class="container">
			<div class="row">
				<div class="main-content-left">
					<nav aria-label="breadcrumb">
					  <ol class="breadcrumb main-content-left-menu">
					    <li class="breadcrumb-item" aria-current="page">Home</li>
					    <li class="breadcrumb-item" aria-current="page">Home</li>
					    <li class="breadcrumb-item" aria-current="page">Home</li>
					  </ol>
					</nav>
					<div class="item-info">
						<h1 class="info-title">Tôi Thăng Cấp Một Mình 2</h1>
						<time class="info-time"> [Cập nhật lúc: 08:11 22/07/2021]</time>
						<div class="info-full">
							<div class="row">
								<div class="info-full-left">
									<img src="../images/toi-thang-cap-mot-minh-2.jpg"width="100%">
								</div>
								<div class="info-full-right">
									<div class="list-info">
										<ul>
											<li>
												<p><i class="fa fa-user"></i> Tac Gia</p>
												<p>Đang tiến hành</p>
											</li>
											<li>
												<p><i class="fa fa-rss"></i> Tinh Trang</p>
												<p>Đang tiến hành</p>
											</li>
											<li>
												<p><i class="fa fa-tags"></i>  Thể loại</p>
												<p>
													<a href="#">Action</a> - 
													<a href="#">Action</a> - 
													<a href="#">Action</a> - 
													<a href="#">Action</a> - 
													<a href="#">Action</a> - 
													<a href="#">Action</a> - 
													<a href="#">Action</a> - 
													<a href="#">Action</a>
												</p>
											</li>
											<li>
												<p><i class="fa fa-eye"></i> Lượt xem</p>
												<p>N/A</p>
											</li>
										</ul>
										<div class="list-info-count-rating">
											<a href="#">Tôi Thăng Cấp Một Mình 2</a>
											<span> Xếp hạng: </span>
											<span>5 - </span>
											<span> Lượt đánh giá.</span>
										</div>
										<div class="row rating">
											<div class="rating-star-left">
												<i class="fad fa-star" id="1"></i>
												<i class="fad fa-star" id="2"></i>
												<i class="fad fa-star" id="3"></i>
												<i class="fad fa-star" id="4"></i>
												<i class="fad fa-star" id="5"></i>
											</div>

										</div>
										<div class="follow">
											<button type="button" class="btn btn-success">
												<i class="fa fa-heart"></i>
												<span>Theo dõi</span>
											</button>
											<span class="fllow-span">
												<b>212.236</b>
												 Người Đã Theo Dõi
											</span>
										</div>
										<div class="read">
											<button type="button" class="btn btn-warning">
												<i class="fa fa-heart"></i>
												<span> Đọc từ đầu</span>
											</button>
											<button type="button" class="btn btn-warning">
												<i class="fa fa-heart"></i>
												<span> Đọc từ đầu</span></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="detail-content">
						<h3 class="detail-content-title">
							<i class="fas fa-file-alt"></i>
							 Nội dung
						</h3>
						<p>Không nói nhiều!! Siêu phẩm trở lại với mùa 2!!</p>
					</div>
					<div class="list-chapter">
						<h3 class="detail-content-title">
							<i class="fa fa-list"></i>
							  Danh sách chương
						</h3>
						<div class="list-chuong">
							<ul>
								<li class="row fisrt">
									<span>Số chương</span>
									<span>Cập nhật</span>
									<span>Lượt xem</span>
								</li>
								<li class="row">
									<span><a href="#">Chapter 49</a></span>
									<span>15 giờ trước</span>
									<span>999</span>
								</li>
								<li class="row">
									<span><a href="#">Chapter 49</a></span>
									<span>15 giờ trước</span>
									<span>999</span>
								</li>
								<li class="row">
									<span><a href="#">Chapter 49</a></span>
									<span>15 giờ trước</span>
									<span>999</span>
								</li>
								<li class="row">
									<span><a href="#">Chapter 49</a></span>
									<span>15 giờ trước</span>
									<span>999</span>
								</li>
								<li class="row">
									<span><a href="#">Chapter 49</a></span>
									<span>15 giờ trước</span>
									<span>999</span>
								</li>
								<li class="row">
									<span><a href="#">Chapter 49</a></span>
									<span>15 giờ trước</span>
									<span>999</span>
								</li>
								<li class="row">
									<span><a href="#">Chapter 49</a></span>
									<span>15 giờ trước</span>
									<span>999</span>
								</li>
								<li class="row more">
									<span><a href="#">Chapter 48</a></span>
									<span>15 giờ trước</span>
									<span>999</span>
								</li>
								<li class="row more">
									<span><a href="#">Chapter 48</a></span>
									<span>15 giờ trước</span>
									<span>999</span>
								</li>
								<li class="row more">
									<span><a href="#">Chapter 43</a></span>
									<span>15 giờ trước</span>
									<span>999</span>
								</li>
								<li class="row more">
									<span><a href="#">Chapter 48</a></span>
									<span>15 giờ trước</span>
									<span>999</span>
								</li>
								<li class="row more">
									<span><a href="#">Chapter 48</a></span>
									<span>10 giờ trước</span>
									<span>999</span>
								</li>
								<li class="row more">
									<span><a href="#">Chapter 48</a></span>
									<span>11 giờ trước</span>
									<span>999</span>
								</li>
								<li class="row more">
									<span><a href="#">Chapter 49</a></span>
									<span>11 giờ trước</span>
									<span>999</span>
								</li>
								<li class="view-more">
									<i class="fa fa-plus"></i>
									 Xem thêm
								</li>

							</ul>
						</div>
					</div>
				</div>
				<div class="main-content-right">
					<ul class="list-group rank">
										<li class="list-group-item">
											<ul class="nav nav-tabs d-flex justify-content-around">
										    <li class="active"><a data-toggle="tab" href="#home">Tong </a></li>
										    <li><a data-toggle="tab" href="#menu1">Top Ngay</a></li>
										    <li><a data-toggle="tab" href="#menu2">Top Thang</a></li>
										    <li><a data-toggle="tab" href="#menu3">Top Nam</a></li>
										  </ul>

										</li>
										<li class="list-group-item">
											<div class="tab-content">
								    <div id="home" class="tab-pane fade in active show">
								    	<ul class="list-group">
								    		<li class="list-group-item"><div class="media">
											  <img class="align-self-start mr-3" src="../images/chien-hon-tuyet-the.jpg" width="70px" height="70px" alt="Generic placeholder image">
											  <div class="media-body">
											    <h7 class="mt-0"><a href="#">Van co than vuong</a></h7>
											    <p>Chap 1</p>
											  </div>
											</div>
										</li>
									  <li class="list-group-item"><div class="media">
											  <img class="align-self-start mr-3" src="../images/chien-hon-tuyet-the.jpg" width="70px" height="70px" alt="Generic placeholder image">
											  <div class="media-body">
											    <h7 class="mt-0"><a href="#">Van co than vuong</a></h7>
											    <p>Chap 1</p>
											  </div>
											</div></li>

								    	</ul>

								      
								    </div>
								    <div id="menu1" class="tab-pane fade">
								    	<ul class="list-group">
								    		<li class="list-group-item"><div class="media">
											  <img class="align-self-start mr-3" src="../images/chien-hon-tuyet-the.jpg" width="70px" height="70px" alt="Generic placeholder image">
											  <div class="media-body">
											    <h7 class="mt-0"><a href="#">Van co than vuong</a></h7>
											    <p>Chap 11</p>
											  </div>
											</div>
										</li>
									  <li class="list-group-item"><div class="media">
											  <img class="align-self-start mr-3" src="../images/chien-hon-tuyet-the.jpg" width="70px" height="70px" alt="Generic placeholder image">
											  <div class="media-body">
											    <h7 class="mt-0"><a href="#">Van co than vuong</a></h7>
											    <p>Chap 11</p>
											  </div>
											</div></li>

								    	</ul>

								      
								    </div>
								    <div id="menu2" class="tab-pane fade">
								      <ul class="list-group">
								    		<li class="list-group-item"><div class="media">
											  <img class="align-self-start mr-3" src="../images/chien-hon-tuyet-the.jpg" width="70px" height="70px" alt="Generic placeholder image">
											  <div class="media-body">
											    <h7 class="mt-0"><a href="#">Van co than vuong</a></h7>
											    <p>Chap 2</p>
											  </div>
											</div>
										</li>
									  <li class="list-group-item"><div class="media">
											  <img class="align-self-start mr-3" src="../images/chien-hon-tuyet-the.jpg" width="70px" height="70px" alt="Generic placeholder image">
											  <div class="media-body">
											    <h7 class="mt-0"><a href="#">Van co than vuong</a></h7>
											    <p>Chap 2</p>
											  </div>
											</div></li>

								    	</ul>

								    </div>
								    <div id="menu3" class="tab-pane fade">
								      <ul class="list-group">
								    		<li class="list-group-item"><div class="media">
											  <img class="align-self-start mr-3" src="../images/chien-hon-tuyet-the.jpg" width="70px" height="70px" alt="Generic placeholder image">
											  <div class="media-body">
											    <h7 class="mt-0"><a href="#">Van co than vuong</a></h7>
											    <p>Chap 3</p>
											  </div>
											</div>
										</li>
									  <li class="list-group-item"><div class="media">
											  <img class="align-self-start mr-3" src="../images/chien-hon-tuyet-the.jpg" width="70px" height="70px" alt="Generic placeholder image">
											  <div class="media-body">
											    <h7 class="mt-0"><a href="#">Van co than vuong</a></h7>
											    <p>Chap 3</p>
											  </div>
											</div></li>

								    	</ul>

								    </div>
								  </div>

										</li>
									</ul>
					
				</div>
			</div>
			<div>
							<nav aria-label="Page navigation example">
								  <ul class="pagination justify-content-center "style="padding: 20px;">
								    <li class="page-item disabled">
								      <a class="page-link" href="#" tabindex="-1">Previous</a>
								    </li>
								    <li class="page-item"><a class="page-link" href="#">1</a></li>
								    <li class="page-item"><a class="page-link" href="#">2</a></li>
								    <li class="page-item"><a class="page-link" href="#">3</a></li>
								    <li class="page-item"><a class="page-link" href="#">3</a></li>
								    <li class="page-item"><a class="page-link" href="#">3</a></li>
								    <li class="page-item"><a class="page-link" href="#">3</a></li>
								    <li class="page-item"><a class="page-link" href="#">3</a></li>
								    <li class="page-item">
								      <a class="page-link" href="#">Next</a>
								    </li>
								  </ul>
								</nav>
						</div>
		</div>
		
	</main>
<footer >
	<div class="row d-flex" style="padding: 20px;">
		<div class="footer-left">
			<div class="footer-left-top-img">
			<img src="../images/logo-nettruyen.png" width="100%">
			</div>

			<div class="media footer-left-bootom">
											  <img class="align-self-start mr-2" src="../images/chien-hon-tuyet-the.jpg" width="70px"  alt="Generic placeholder image">
											  <div class="media-body">
											    <h5 class="mt-0"><a href="#">NetTruyen.com - Truyện Tranh Online</a></h5>
											    <span><i class="fab fa-facebook-square" style="font-size: 30px"></i>   146K likes</span>
											  </div>
											</div>

			<p style="color: white;">
												Copyright © 2015 NetTruyen
												</p>

			
		</div>
		<div class="footer-right">
			<h4 style="color: white;">Thể loại</h4>
			<div class="footer-right-menu">
			<ul>
				<li><a href="">Chuyển Sinh</a></li>
				<li><a href="">Chuyển Sinh</a></li>
				<li><a href="">Chuyển Sinh</a></li>
				<li><a href="">Chuyển Sinh</a></li>
				<li><a href="">Chuyển Sinh</a></li>
				<li><a href="">Chuyển Sinh</a></li>
				<li><a href="">Chuyển Sinh</a></li>
				<li><a href="">Chuyển Sinh</a></li>
			</ul>
			</div>

			
		</div>
	</div>
</footer>

	</body>

<script src="../bootstrap/bootstrap.min.css"></script>

<script src="../js/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript" src="../js/chi-tiet.js"></script>