<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

	<link rel="stylesheet" type="text/css" href="../css/login-regis.css">




</head>
<body>
	<header >
		
		<div class="container">
			
			
				<div class="navbar-header left">
					<div class="logo">
						<a href="#">
							<img src="../images/logo-nettruyen.png">
						</a>
					</div>
					<div class="input-group inputseach ">
						<div class="form-control">
							<input type="text" name=""  placeholder="Tim Truyen....">
						<i class="fas fa-search"></i>
						</div>
						
						
					</div>
					
				
				</div>
				<div class="logo-right">
						<i class="far fa-comment"></i>
					</div>
					
				<div class="navbar-header right">
					<ul class="nav justify-content-end">
						 <li class="breadcrumb-item"><a href="#tab-1"data-toggle="tab">Dang nhap</a></li>
						 <li class="breadcrumb-item"><a href="#tab-2"data-toggle="tab">Dang ky</a></li>
    					
						  
					</ul>
				</div>
					
			<div class="logo-menu" style="font-size: 15px;">
				<nav class="navbar navbar-dark d-inline-block">
			    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
  			</nav>
  			
  </div>
			</div>
		</div>
		
		
	</header>
	<div class="main-nav" id="main-nav">
		<div class="container">
		<div class="inner">
			
				<div id="menu">
				<ul>
				<li><a href="#"><i class="fas fa-home"></i></a></li>
				<li><a href="#">Hot</a></li>
				<li><a href="#">Theo doi</a></li>
				<li><a href="#">Lich su</a></li>
				<li class="nav-item dropdown" >
				    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false" >The Loai</a>
				    <div class=" showmenu" aria-labelledby="navbarDropdownMenuLink">
				      <a class="dropdown-item" href="#" >Action</a>
				      <a class="dropdown-item" href="#">Another action</a>
				      <a class="dropdown-item" href="#">Something else here</a>
				      <a class="dropdown-item" href="#">Something else here</a>
				      <a class="dropdown-item" href="#">Something else here</a>
				      <a class="dropdown-item" href="#">Something else here</a>
				      <a class="dropdown-item" href="#">Something else here</a>
				      
				    </div>
				
				</li>
				<li class="nav-item dropdown" >
				    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false" >The Loai</a>
				    <div class=" showmenu" aria-labelledby="navbarDropdownMenuLink">
				      <a class="dropdown-item" href="#" >Action</a>
				      <a class="dropdown-item" href="#">Another action</a>
				      <a class="dropdown-item" href="#">Something else here</a>
				      <a class="dropdown-item" href="#">Something else here</a>
				      <a class="dropdown-item" href="#">Something else here</a>
				      <a class="dropdown-item" href="#">Something else here</a>
				      <a class="dropdown-item" href="#">Something else here</a>
				      
				    </div>
				
				</li>
				<li><a href="#">Tim Truyen </a></li>
				<li><a href="#">Yeu Thich  </a></li>
				
				</ul>
				</div>
				
			</div>
		</div>		
	</div>
	<main>
		<div class="container bg-white">
			<div class="main-top">
				<nav aria-label="breadcrumb ">
				  <ol class="breadcrumb bg-white mb-0">
				    <li class="breadcrumb-item"><a href="#">Home</a></li>
				    <li class="breadcrumb-item active" aria-current="page">Library</li>
				  </ol>
				</nav>
			</div>
			<div class="main-login ">
				<div class="container">
					<div class="tab-content">
        				<div role="tabpanel" class="tab-pane active show " id="tab-1">
        					<h1 class="name">Đăng Nhập</h1>
        					<div class="main-login-input">
        						<div class="form-group">
        							<span>Email</span>
									  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        						</div>
        						<div class="form-group">
        							<span>PassWord</span>
									  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        						</div>
        						<div class="form-group remember">
        							<a href="#">Quên Mật Khẩu</a>
        							
        						</div>
        						<div class="form-group">
        							<button type="button" class="btn btn-success">

        							Đăng Nhập</button>
        						</div>
        						<div class="form-group">
        							<button type="button" class="btn btn-primary">
        							<i class="fab fa-facebook-f"></i>
        							Đăng Nhập Bằng Facebook</button>
        						</div>
        						<div class="form-group">
        							<button type="button" class="btn btn-danger">
        							<i class="far fa-mail-bulk"></i>
        							Đăng Nhập Bằng Gmail</button>
        						</div>
        					</div>
        				</div>
        				<div role="tabpanel" class="tab-pane" id="tab-2">
        					<h1 class="name">Đăng Kí</h1>
        					<div class="main-login-input">
        						<div class="form-group">
        							<span>Hiện Tại Chỉ Cho Đăng Kí Bằng FaceBook,Gmail</span>
									  
        						</div>
        						
        						
        						<div class="form-group">
        							<button type="button" class="btn btn-primary">
        							<i class="fab fa-facebook-f"></i>
        							Đăng Kí Bằng Facebook</button>
        						</div>
        						<div class="form-group">
        							<button type="button" class="btn btn-danger">
        							<i class="far fa-mail-bulk"></i>
        							Đăng Kí Bằng Gmail</button>
        						</div>
        					</div>
        				</div>
        			</div>
				</div>
			</div>
			
		</div>
	</main>
	
<footer >
	<div class="row d-flex" style="padding: 20px;">
		<div class="footer-left">
			<div class="footer-left-top-img">
			<img src="../images/logo-nettruyen.png" width="100%">
			</div>

			<div class="media footer-left-bootom">
											  <img class="align-self-start mr-2" src="../images/chien-hon-tuyet-the.jpg" width="70px"  alt="Generic placeholder image">
											  <div class="media-body">
											    <h5 class="mt-0"><a href="#">NetTruyen.com - Truyện Tranh Online</a></h5>
											    <span><i class="fab fa-facebook-square" style="font-size: 30px"></i>   146K likes</span>
											  </div>
											</div>

			<p style="color: white;">
												Copyright © 2015 NetTruyen
												</p>

			
		</div>
		<div class="footer-right">
			<h4 style="color: white;">Thể loại</h4>
			<div class="footer-right-menu">
			<ul>
				<li><a href="">Chuyển Sinh</a></li>
				<li><a href="">Chuyển Sinh</a></li>
				<li><a href="">Chuyển Sinh</a></li>
				<li><a href="">Chuyển Sinh</a></li>
				<li><a href="">Chuyển Sinh</a></li>
				<li><a href="">Chuyển Sinh</a></li>
				<li><a href="">Chuyển Sinh</a></li>
				<li><a href="">Chuyển Sinh</a></li>
			</ul>
			</div>

			
		</div>
	</div>
</footer>

	</body>

<script src="../bootstrap/bootstrap.min.css"></script>

<script src="../js/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript" src="../js/chi-tiet.js"></script>